.FrameItem {
  border: 1px solid #eee;
}

.FrameItem__rollList {
  display: flex;
}

.FrameItem__roll {
  padding: 5px;
  flex: 1;
  text-align: center;
}

.FrameItem__roll:last-child {
  border-left: 1px solid #eee;
}

.FrameItem__roll:first-child {
  border-left: none;
}

.FrameItem__total {
  padding: 5px 0;
  text-align: center;
  font-weight: bold;
  font-size: 8px;
  border-top: 1px solid #eee;
}

.FrameItem.isActive {
  border-color: #777;
}
