.Header{
  background: crimson;
  padding: 15px 0;
  margin-bottom: 30px;
  display: none;
}

.Header__wrap{
  display: flex;
  justify-content: space-between;
}

.Header__title{
  text-align: center;
  flex: 1;
}
